@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<BlogPost>
@{
    Layout = "Master.cshtml";
}

<!-- page-header -->
<section id="page-header" class="parallax" style="">
    <div class="overlay"></div>
    <div class="container">
        <h1>Blog</h1>
        <!--Start Breadcrumb-->
        <div class="breadcrumb">
            <ul>
                @{
                    var selection = Umbraco.AssignedContentItem;
                    var select2 = selection.Ancestors();
                    @if (select2.Any())
                    {
                        //foreach (var page in select2.OrderBy("Level"))
                        foreach (var items in select2.Reverse())
                        {
                            <li>
                                <a href=@items.Url()>@items.Name</a>
                            </li>
                        }
                        <li class="current">
                            <a href=@selection.Url()>@selection.Name</a>
                        </li>
                    }

                }
            </ul>
        </div>
        <!--End Breadcrumb-->
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-8">
                <div class="post-content">
                    @if (Model.BannerImage != null)
                    {
                        <div class="post-img">
                            <img src=@Model.BannerImage.MediaUrl() alt="">
                        </div>
                    }

                    <div class="post-meta">
                        <ul class="list-inline">
                            <li><a href="#"><i class="fa fa-calendar"></i>12 March, 2014</a> </li>
                            <li><a href="#"><i class="fa fa-user"></i>by Admin</a></li>
                            <li><a href="#"><i class="fa fa-comments"></i>3 Comments</a> </li>
                        </ul>
                    </div>
                    <!-- /Post Meta-->
                    <!-- Post Description -->
                    <div class="post-description">
                        @if (!string.IsNullOrEmpty(Model.PageTitle))
                        {
                            <h3>@Html.Raw(@Model.PageTitle)</h3>
                        }
                        @if (!string.IsNullOrEmpty(Model.BlogPostDetail))

                        {
                            <p>
                                @Html.Raw(Model.BlogPostDetail);
                            </p>
                        }


                        <blockquote>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, dolorum, fugiat, eligendi magni quibusdam iure cupiditate ex voluptas unde voluptatibus quos expedita autem qui vitae corrupti exercitationem facilis nihil atquea</blockquote>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, dolorum, fugiat, eligendi magni quibusdam iure cupiditate ex voluptas unde voluptatibus quos expedita autem qui vitae corrupti exercitationem facilis nihil atque!</p>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, dolorum, fugiat, eligendi magni quibusdam iure cupiditate ex voluptas unde voluptatibus quos expedita autem qui vitae corrupti exercitationem facilis nihil atque!</p>
                    </div>
                    <!-- /Post Description -->
                    <!-- Comment list -->
                    <div class="comment-list">
                        <h3>5 Comments</h3>

                        <ol>
                            <li class="comment">
                                <div class="single_comment first-comment">
                                    <div class="comment-avatar">
                                        <div class="avatar">
                                            <img src="~/assets/images/blog/avatar1.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="comment-content">
                                        <div class="comment-name"><a href="#">John Doe</a><span>-</span><a href="#" class="comment-reply">Reply</a></div>
                                        <div class="comment-desc">18 November, 2014 at 12:48 pm</div>
                                        <div class="comment-text">
                                            <p>
                                                12 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi in molestie neque, eget posuere risus. In mauris orci, imperdiet quis hendrerit eget, dapibus sed nisi..
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li class="comment">
                                <div class="single_comment">
                                    <div class="comment-avatar">
                                        <div class="avatar">
                                            <img src="~/assets/images/blog/avatar2.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="comment-content">
                                        <div class="comment-name"><a href="#">John Doe</a><span>-</span><a href="#" class="comment-reply">Reply</a></div>
                                        <div class="comment-desc">19 November, 2014 at 10:21 pm</div>
                                        <div class="comment-text">
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi in molestie neque, eget posuere risus. In mauris orci, imperdiet quis hendrerit eget, dapibus sed nisi..
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <!-- comment-sub -->
                                <ol class="comment-sub">
                                    <li class="comment">
                                        <div class="single_comment">
                                            <div class="comment-avatar">
                                                <div class="avatar">
                                                    <img src="~/assets/images/blog/avatar3.jpg" alt="">
                                                </div>
                                            </div>
                                            <div class="comment-content">
                                                <div class="comment-name"><a href="#">John Doe</a><span>-</span><a href="#" class="comment-reply">Reply</a></div>
                                                <div class="comment-desc">23 November, 2014 at 12:48 pm</div>
                                                <div class="comment-text">
                                                    <p>
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi in molestie neque, eget posuere risus. In mauris orci, imperdiet quis hendrerit eget, dapibus sed nisi..
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <ol class="comment-sub">
                                            <li class="comment">
                                                <div class="single_comment">
                                                    <div class="comment-avatar">
                                                        <div class="avatar">
                                                            <img src="~/assets/images/blog/avatar4.jpg" alt="">
                                                        </div>
                                                    </div>
                                                    <div class="comment-content">
                                                        <div class="comment-name"><a href="#">John Doe</a><span>-</span><a href="#" class="comment-reply">Reply</a></div>
                                                        <div class="comment-desc">26 November, 2014 at 10:21 pm</div>
                                                        <div class="comment-text">
                                                            <p>
                                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi in molestie neque, eget posuere risus. In mauris orci, imperdiet quis hendrerit eget, dapibus sed nisi..
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ol>
                                    </li>
                                </ol>
                                <!--End comment-sub-->
                            </li>

                            <li class="comment">
                                <div class="single_comment">
                                    <div class="comment-avatar">
                                        <div class="avatar">
                                            <img src="~/assets/images/blog/avatar2.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="comment-content">
                                        <div class="comment-name"><a href="#">John Doe</a><span>-</span><a href="#" class="comment-reply">Reply</a></div>
                                        <div class="comment-desc">28 November, 2014 at 12:48 pm</div>
                                        <div class="comment-text">
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi in molestie neque, eget posuere risus. In mauris orci, imperdiet quis hendrerit eget, dapibus sed nisi..
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ol>
                    </div>
                    <!-- /comment List -->
                    <!-- Comment Section -->
                    <div class="comments-section">
                        <h3>Leave a Comment</h3>
                        <div class="comment-form">
                            <form method="post">
                                <div class="row">
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" placeholder="Name" id="name">
                                    </div>
                                    <div class="col-md-6">
                                        <input type="email" class="form-control" placeholder="Email" id="password">
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" placeholder="Subject" id="subject">
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" placeholder="Company" id="company">
                                    </div>
                                    <div class="col-md-12">
                                        <textarea class="form-control" placeholder="Your Comment" rows="7"></textarea>
                                    </div>
                                    <div class="col-md-12 text-right">
                                        <button type="submit" class="btn btn-gray-border">Send Comment</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- /Comment Section -->
                </div>
            </div>
            <!-- /Blog Post -->
            <!-- Right Sidebar -->
            <div class="col-md-4 col-sm-4">

                <div class="widget widget-sidebar">
                    <div class="search-box">
                        <form>
                            <input type="search" class="form-control" placeholder="Search">
                            <i class="fa fa-search"></i>
                        </form>
                    </div>
                </div>

                <!--Start popular Post -->
                <div class="widget-main">
                    <h4>Popular Post</h4>
                    <div class="sidebar-widget clearfix">
                        <a href="#"><img src="~/assets/images/blog/blog1.jpg" alt=""></a>
                        <p class="sidebar-widget-title"><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.  </a></p>
                        <p class="date">8 March, 2014</p>
                    </div>
                    <div class="sidebar-widget clearfix">
                        <a href="#"><img src="~/assets/images/blog/blog2.jpg" alt=""></a>
                        <p class="sidebar-widget-title"><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </a></p>
                        <p class="date">6 Apr, 2014</p>
                    </div>
                    <div class="sidebar-widget clearfix">
                        <a href="#"><img src="~/assets/images/blog/blog3.jpg" alt=""></a>
                        <p class="sidebar-widget-title"><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </a></p>
                        <p class="date">22 May, 2014</p>
                    </div>
                </div>
                <!-- / popular Post -->
                <!--start post categories-->
                <div class="widget-main">
                    <h4>Top Categories</h4>
                    <div class="post-categories">
                        <ul>
                            <li><a href="#">Photography</a></li>
                            <li><a href="#">WordPress</a></li>
                            <li><a href="#">Web Design</a></li>
                            <li><a href="#">Video</a></li>
                            <li><a href="#">Photography</a></li>
                        </ul>
                    </div>
                </div>
                <!--/ post categories-->
                <!-- Text -->
                <div class="widget-main">
                    <h4>Text Widget </h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi in molestie neque, eget posuere risus. In mauris orci, imperdiet quis hendrerit eget, dapibus sed nisi..
                    </p>
                </div>
                <!-- /Text -->
                <!-- Tags -->
                <div class="widget-main">
                    <h4>Tags</h4>
                    <div class="tags">
                        <a href="">Web Design</a>
                        <a href="">Graphic Design</a>
                        <a href="">PHP</a>
                        <a href="">Jquery</a>
                        <a href="">Wordpress</a>
                        <a href="">Animation</a>
                        <a href="">Audio</a>
                        <a href="">Photo Gallery</a>
                    </div>
                </div>
                <!-- /Tags -->
            </div>
            <!-- /right Sidebar -->
        </div> <!-- /row -->
        

                    @Html.GetGridHtml(Model, "blogBodyContent", "bootstrap3-fluid")
            </div>
        </section>
        <!-- /blog -->
